{% extends "account/base.html" %}
{% load i18n allauth %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content_account %}
<form method="post" action="{% url 'account_reset_password_from_key' %}" class="auth-form">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}<span class="form-error">{{ field.errors.0 }}</span>{% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary btn-block">Сменить пароль</button>
</form>
{% endblock %}
